@mixin focused() {
    outline-width: var(--focus-ring-width);
    outline-style: var(--focus-ring-style);
    outline-color: var(--focus-ring-color);
    outline-offset: var(--focus-ring-offset);
    box-shadow: var(--focus-ring-shadow);
    transition:
        box-shadow var(--transition-duration),
        outline-color var(--transition-duration);
}

@mixin focused-inset() {
    outline-offset: -1px;
    box-shadow: inset var(--focus-ring-shadow);
}

@mixin container() {
    @apply flex mx-auto max-w-[1240px] px-4 sm:px-6 lg:px-8 flex-auto w-full;
}
